<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Module Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./tests</directory>
            <exclude>
            </exclude>
        </whitelist>

    </filter>
    <php>
        <env name="MODULES_PATH" value="tests/Modules"/>
        <env name="MODULES_NAMESPACE" value="Modules"/>
        <env name="PACKAGES_PATH" value="tests/Packages"/>
        <env name="PACKAGES_NAMESPACE" value="Packages"/>
    </php>
</phpunit>
